html, body {
width:100%;
height:100%;
font-size:85%;
background:#EAF3FA;
}

* {
font-family:Arial;
}

#wrapper {
position:relative;
width:100%;
height:100%;
}

#header, #footer {
width:100%;
background:#515E7B;
}

#header {
position:fixed;
height:80px;
}

    #member {
    position:absolute;
    width:50%;
    height:50px;
    top:0;
    right:0;
    color:#FFF;
    padding-right:10px;
    text-align:right;
    line-height:50px;
    }

    #member a {
    color:#FFF;
    text-decoration:none;
    }

    #member span {
    padding:0 5px;
    }

    #menu {
    position:absolute;
    width:100%;
    height:30px;
    background:url(img/bg-menu.png) repeat-x;
    }

    #menu > li {
    float:left;
    line-height:30px;
    padding:0 10px;
    }

    #menu ul {
    position:absolute;
    min-width:150px;
    width:auto !important;
    width:150px;
    border:1px solid #CCC;
    border-top:none;
    background:#FFF;
    z-index:99;
    }

    #menu a {
    display:block;
    text-decoration:none;
    }

    #menu > li > a,
    * html #menu li ul li a {
    padding:0 20px;
    color:#EEE;
    text-align:center;
    }

    #menu > li > a:hover {
    color:#FFF;
    background:#444;
    }

    #menu ul > li > a {
    color:#666;
    padding:0 10px;
    }

    #menu ul > li > a:hover {
    color:#333;
    background:#E4F2FD;
    }

#body {
padding:20px;
}

#content {
width:100%;
height:100%;
overflow:hidden;
padding-top:80px;
padding-bottom:130px;
}

#footer {
position:fixed;
bottom:0;
height:50px;
color:#FFF;
line-height:50px;
text-align:center;
}