/****************************
 * PAGE STYLE               *
 ****************************/
* {
font-family:Verdana, Arial, Helvetica, sans-serif;
}

html, body {
background:#F0F0F0;
}

#wrapper {
background:url(img/bg-wrapper.png) repeat-x bottom #FFF;
}

    /****************************
     * HEADER                   */

        /****************************
         * LOGO                     */
        #logo a {
        display:block;
        width:170px;
        height:60px;
        text-indent:-9999px;
        overflow:hidden;
        background:url(img/logo.png) no-repeat;
        }

        /****************************
         * MEMBER                   */
        #member ul {
        list-style:none;
        text-align:right;
        font-size:9pt;
        }

        #member ul li {
        display:inline;
        position:relative;
        height:30px;
        line-height:30px;
        }
        
        #member ul li a {
        color:#333;
        text-decoration:none;
        padding-left:20px;
        margin-left:5px;
        margin-right:5px;
        }
        
        #member ul li.logout a {
        background:url(img/door-in.png) no-repeat left center;
        }

    /****************************
     * BODY                     */
    #body {
    background:url(img/bg-body.png) repeat-x top #FFF;
    }

        /****************************
         * FUNCTIONS                */
        #functions {
        background:url(img/bg-functions.png) no-repeat right center;
        }
         
        #functions ul {
        font-size:9pt;
        margin:0 5px;
        }

        #functions ul ul {
        padding-left:15px;
        }

        #functions ul.mainFunctions {
        position:relative;
        width:180px;
        margin:0 auto;
        margin-bottom:10px;
        border-bottom:1px dashed #989898;
        }

        #functions li {
        line-height:30px;
        }

        * html
        #functions li {
        height:1%;
        }

        #functions li.functionGroup {
        border-top:1px dashed #989898;
        padding-top:10px;
        padding-bottom:10px;
        }

        #functions li.functionGroup a {
        color:#9C6701;
        text-decoration:none;
        padding-left:20px;
        background:url(img/book-open.png) no-repeat left center;
        }

        #functions li.function a {
        color:#0066CB;
        text-decoration:none;
        padding-left:20px;
        background:url(img/page-white.png) no-repeat left center;
        }

        /****************************
         * CRUMBS                   */
        #crumbs p {
        font-size:9pt;
        padding-left:20px;
        background:url(img/flag-red.png) no-repeat left center;
        line-height:25px;
        overflow:hidden;
        height:25px;
        }

        #crumbs p * {
        float:left;
        }

        #crumbs a {
        color:#000;
        text-decoration:none;
        margin:0 5px;
        }

        #crumbs span.separator {
        width:20px;
        text-indent:-9999px;
        background:url(img/bullet-go.png) no-repeat center center;
        }

        #content h2.pageTitle {
        font-weight:bold;
        color:#039;
        padding-bottom:3px;
        }

        #content div.separator {
        padding:0;
        margin:3px 0;
        height:5px;
        border:none;
        border-top:1px solid #CCC;
        background:url(img/bg-content-for-layout.png) no-repeat left top;
        }
        
    /****************************
     * FOOTER                   */
    #footer p {
    text-align:right;
    font-size:9pt;
    line-height:25px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    }