<% foreach from=$resourceList item="resourceItem" %>
<% if count($resourceItem.subResourceList) %>
<fieldset>
    <legend>
    <input type="checkbox" id="resource_<% $resourceItem.id %>" class="checkAll" value="<% $resourceItem.id %>"<% if $resourceItem.allowed %> checked="checked"<% /if %> />
    <label for="resource_<% $resourceItem.id %>"><% $resourceItem.name|htmlspecialchars %></label>
    </legend>
    <ul>
        <% foreach from=$resourceItem.subResourceList item="subResourceItem" %>
        <li>
            <input type="checkbox"
                class="resource_<% $resourceItem.id %>"
                name="resource_<% $subResourceItem.id %>"
                id="resource_<% $subResourceItem.id %>" value="<% $subResourceItem.id %>"<% if $subResourceItem.allowed %> checked="checked"<% /if %> />
            <label for="resource_<% $subResourceItem.id %>"><% $subResourceItem.name|htmlspecialchars %></label>
        </li>
        <% /foreach %>
    </ul>
</fieldset>
<% /if %>
<% /foreach %>
