<% js src="/lib/jquery/form.js" %>
<% js src="/js/admin/file/upload.js" %>
<div class="demo">
<form method="post" action="<% $frontendVars.currentUrl %>/format/json" id="uploadForm">
<p><strong>File Upload 1</strong>
<input type="file" id="fileInput1" name="fileInput[]" /></p>
<p><strong>File Upload 2</strong>
<input type="file" id="fileInput2" name="fileInput[]" /></p>
<p><strong>File Upload 3</strong>
<input type="file" id="fileInput3" name="fileInput3" /></p>
<p><strong>File Upload 4</strong>
<input type="file" id="fileInput4" name="fileInput4" /></p>
<p><strong>Other Field</strong>
<input type="text" id="otherField" name="otherField" /></p>
<p><input type="submit" value="Upload" /></p>
</form>
</div>
