<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wacow Backend System</title>
<% css href="/css/admin/login.css" %>
<% css href="/lib/jquery/ui/theme/smoothness/theme.css" %>
<% js src="/lib/jquery/latest.js" %>
<% js src="/lib/jquery/ui.js" %>
<% js src="/lib/jquery/form.js" %>
<% js src="/lib/jquery/blockUI.js" %>
<% js src="/js/admin/user/login.js" %>
</head>

<body>

<div id="wrapper">

    <div id="header">
        <div id="logo">
            <a href="<% $frontendVars.baseUrl %>/"><img src="<% $frontendVars.baseUrl %>/pub/img/html/logo.png" alt="Wacow Backend System" /></a>
        </div>
    </div>

    <div id="body">

        <div id="loginBlock">
            <h2>Login</h2>
            <form action="<% $frontendVars.baseUrl %>/login" method="post" name="frmLogin" id="frmLogin">
                <fieldset>
                    <p class="singleLine"><label for="loginIdentity" class="normal">ID</label><input class="text" type="text" name="identity" id="loginIdentity" value="" /></p>
                    <p class="singleLine"><label for="loginPassword" class="normal">PW</label><input class="text" type="password" name="password" id="loginPassword" value="" /></p>
                    <p class="buttonLine"><!-- <a id="loginForget" href="<% $frontendVars.baseUrl %>/forget">忘記密碼？</a> --><input class="button" type="submit" id="loginSubmit" value="LOGIN" /></p>
                </fieldset>
                <input type="hidden" id="backUrl" name="backUrl" value="<% $backUrl %>" />
            </form>
            <div class="messageList"></div>
        </div>

    </div>

    <div id="footer">
        <p>&copy;2009-2010 By Wabow Information Inc. All Rights Reserved.</p>
    </div>

</div>
</body>
</html>
