form.normal * {
font-size:9pt;
}

form.normal p {
padding:8px 3px;
}

form.normal input.text,
form.normal textarea.text {
padding:2px;
border:1px solid #CCC;
background:url(img/bg_text_input.png);
}

form.normal select {
border:1px solid #CCC;
}

form.normal select.text option {
background:#FFF;
}

form.normal input.datepicker {
color:#000;
float:none;
width:80px;
padding:2px;
border:1px solid #CCC;
background:url(img/bg_text_input.png);
}

form.normal button.button {
height:25px;
line-height:20px;
background:transparent url(img/bg-button.png) repeat-x scroll;
border-width:1px;
}