<ul id="menu">
    <li><a href="?">Main Item</a>
        <ul>
            <li><a href="?">Sub Item</a></li>
            <li><a href="?">Sub Item</a></li>
            <li><a href="?">Sub Item</a></li>
        </ul>
    </li>
    <li><a href="?">Main Item</a>
        <ul>
            <li><a href="?">Sub Item</a></li>
            <li><a href="?">Sub Item</a></li>
            <li><a href="?">Sub Item</a></li>
        </ul>
    </li>
    <li><a href="?">Main Item</a>
        <ul>
            <li><a href="?">Sub Item</a></li>
            <li><a href="?">Sub Item</a></li>
            <li><a href="?">Sub Item</a></li>
        </ul>
    </li>
    <li><a href="?">Main Item</a>
        <ul>
            <li><a href="?">Sub Item</a></li>
            <li><a href="?">Sub Item</a></li>
            <li><a href="?">Sub Item</a></li>
        </ul>
    </li>
</ul>